.center img {
  width: 100%;
}

.photo img {
  padding: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.left {
  float: left;
  margin-right: 20px;
}

.right {
  float: right;
  margin-left: 20px;
}